body {
	font-size: 1.3em;
}

table {
	border-collapse: collapse;
	margin: 1.2em auto;
	width: 90%;
	word-wrap: break-word;
}

thead {
	background-color: #1560bd;
	color: #ffffff;
	text-align: left;
}

td,
th {
	text-align: left;
	padding-left: 0.2em;
	overflow: auto;
}

td {
	padding-bottom: 0.5em;
}

main h1 {
	text-align: center;
}

@media only screen and (max-width: 760px), (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	thead,
	tbody,
	.table,
	.table-head,
	.table-data,
	.table-row {
		display: block;
	}

	/* Hide table headers (but not display: none;), for accesibility */
	thead .table-row {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table-row {
		border: 1px solid #ccc;
		padding-bottom: 1em;
	}

	/* Behave like a row */
	.table-data {
		border: none;
		border-bottom: 2px solid #f9f9fa;
		position: relative;
		padding: 0.4em;
		padding-left: 50%;
		margin-bottom: 0.5em;
	}

	/* Now like a table header */
	.table-data:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/**
	 * Label the message and comments table using CSS
	 * generated content. The first td element is the
	 * 'select_all_checkbox' so we set its content to ''
	 */
	.comments td:nth-of-type(1):before {
		content: "";
	}
	.comments td:nth-of-type(2):before {
		content: "Date";
	}
	.comments td:nth-of-type(3):before {
		content: "Approved";
	}
	.comments td:nth-of-type(4):before {
		content: "Post Title";
	}
	.comments td:nth-of-type(5):before {
		content: "Name";
	}
	.comments td:nth-of-type(6):before {
		content: "Email";
	}
	.comments td:nth-of-type(7) {
		border: none;
	}

	/**
	 * We give the link to read message and
	 * manage comment some visual enhancements
	 */
	.comments td:nth-of-type(7),
	.messages td:nth-of-type(6) {
		padding: 8px 10px;
		text-align: center;
	}
	.comments td:nth-of-type(7) a,
	.messages td:nth-of-type(6) a {
		display: block;
		padding: 8px 10px;
		background-color: #dddddd;
	}

	/**
	 * Remove the table data which contains the
	 * checkboxes.
	 */
	.table-row > td {
		border: none;
	}

	.table-row > td > * {
		display: none;
	}

}

.submit-input {
	background-color: #1560bd;
	border: 0;
	color: #fff;
	font-family: "Trebuchet Ms", serif;
	margin: 0 auto;
	padding: 0.5em;
	width: 30%;
	display: block;
}
.submit-input:hover {
	cursor: pointer;
	box-shadow: 0 2px 3px #1560bd;
	font-weight: bold;
}

.highlighted {
	background-color: #bbbbbb;
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0, 0, 0, 0); 
  height: 1px;
  width: 1px; 
  margin: -1px;
  padding: 0;
  border: 0; 
}